.clear {
  background: url(/dist/d0e140a82f89e8ff52a4478892fadd98.jpg);
  background-repeat: no-repeat;
}

.clouds {
  background: url(/dist/c8109ee0cc5b9ada87dcc92ed91a040a.jpg);
  background-repeat: no-repeat;
}
